<aside class="banner twitch-banner">
	<div class="container" style="padding-top: 12px; width: 100%; padding-bottom: 10px; text-align: center;">
		<div id="twitchcontainer" style="height: 100%; width: 834px; margin: auto;">
			<iframe src="http://www.twitch.tv/terragamingnetwork/embed" height="500" width="834" frameborder="0"></iframe>
		</div>
	</div>
</aside>