{% extends 'templates/default.twig' %}

{% block pageTitle %}Home{% endblock %}
{% block pageDescription %}Homepage{% endblock %}
{% block pageTags %}{% endblock %}

{% block content %}

	{% include 'templates/partials/banners/twitch.twig' %}

	<div class="container">
		Home
	</div>

{% endblock %}